body {
    background-color: #D7CDCD;
}

h1{
    font-family: 'Lobster', cursive;
    color: red;
}

p {
    font-style: italic;
}

h5 {
    font-family: serif;
}

@media (max-width: 798px) {
    body {
        background-color: blue;
    }
}
