body {
     margin: auto;
     background-color: rgb(229,234,236);
     /* background: url(http://www.texturex.com/albums/Sky-Textures/sky%20photo%20beautiful%20sunset%20high%20resolution%20stock%20photo%20large%20wallpaper%20blue%20gold%20clouds.jpg); */
     background-size: cover;
     background-repeat:no-repeat;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
    font: red;
}